*{
  margin: 0;
  padding: 0;

}


.header{
  background-color: rgba(22, 17, 24, 0.989);
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: rgb(6, 200, 210);
  align-items: center;
  padding: 10px;
  
}
.menu{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;


  
}
.logo{
  display: flex;
  align-items: center;
  font-size: larger;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item{
  margin:20px ;
  cursor: pointer;
  width: 45px;
}
.item:hover{
  color: rgb(255, 255, 255);
  transform: scale(1.3); z-index: 2;
  transition:0.5s ;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner-photo{
  width:400px ;
}
.banner-container{
  display: flex;
  align-items: center;
  overflow: hidden;
 
  height:80vh;
  background-image:url(" background.png"),linear-gradient(45deg,#310f0f,#010000) ;
  justify-content: space-around;
  
}
.banner-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.banner-image{
  width: 421px;
  height: 400px;
  
}
.banner-photo:hover{
  transform: scale(1.3); z-index: 2;
  transition:0.5s ;
}
.banner-photo:not(:hover){
  
  transition: 0.5s;
}
.banner-text{
  color: rgb(255, 255, 255);
  
  
}

.bnh1{
  font-size:40px ;
  color: rgb(0, 255, 255);
}
.btn{
  margin: 30px;
  padding:20px ;
  background:rgb(251, 251, 251) ;
  border: 3px solid  rgb(6, 255, 6);
  font-weight: bold;
  border-radius: 20px;
  font-size: large;
}
.btn:hover{
  transform: scale(1.3); z-index: 2;
  
  background:rgb(33, 210, 74) ;
  border: 3px solid  rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 20px;
  font-size: large;
  transition:0.5s ;
}
.btn:not(:hover){
  transition: 0.5s;
}
.bnp{
  margin: 20px 0;
  font-weight: bold;
}



.mid-container{
 height: 100vh;

}
.chokka{
  color: rgb(255, 6, 6);
  display: inline-block;
  cursor: pointer;
}
.ttl{
  text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(11, 222, 11) ;
font-weight: bold;
font-size:20px ;

}
.ttl h1{
  margin: 50px;
  font-size: 50px;
  color: rgb(65, 65, 219);
}
.detail{
 display: flex;
 justify-content: space-around;
 align-items: center;
color: rgb(55, 0, 255);
font-weight: bold;
font-family:  sans-serif;
margin-top:30px ;
}
.mid-ctext h1{
 color: rgb(230, 12, 215);
 font-size:50px ;
 margin:20px 0 ;
}
.mid-ctext button{
  padding: 20px;
  width:200px ;
  background-color: rgb(55, 0, 255) ;
  border-radius:20px ;
  font-size:20px ;
  border: 2px solid rgb(140, 16, 125);
  margin: 20px 0;
  color: aliceblue;
  
}
.mid-ctext button:hover{

  background-color: rgb(188, 38, 204);
  transform: scale(1.3); z-index: 2;
  transition: 0.5s;
}
.mid-cimage img{
width: 500px;
 
}
.mid-cimage img:hover{
  transform: scale(1.3); z-index: 2;
   transition:0.5s ;

  }
   .mid-cimage img:not(:hover){
    transition: 0.5s;
  }
  .footer-container{
    background-color:rgba(22, 17, 24, 0.989) ;
    color: aliceblue;
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
  }
  .info-area{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height:60vh ;
  }
  .copy p{
    text-align: center;
    margin: 30px;
  }
.la h3{
  font-size:30px ;
  margin: 20px;
}
.usl h3{
  font-size: 20px;
  margin: 20px 0;
}
.usl li{
  cursor: pointer;
  margin: 10px 0;
}
.cif  h3{
  margin-bottom: 30px;
}